<!-- views/dashboard.ejs -->
<h1 class="mb-4">Our Products</h1>
<div class="container">
  <div class="row">
    <% for(let index = 0; index < products.length; index++) { %>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 100%">
        <img
          src="<%= products[index].image %>"
          class="card-img-top"
          alt="<%= products[index].name %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= products[index].name %></h5>
          <p class="card-text"><%= products[index].description %></p>
          <p class="fw-bold">$<%= products[index].price %></p>
          <form action="/shop/products/add-to-cart" method="POST">
            <input
              type="hidden"
              name="productId"
              value="<%= products[index]._id %>"
            />
            <input type="hidden" name="quantity" value="1" />
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
